In [ ]:
# Calculate the multiplication and sum of two numbers
def task(a,b):
  product = a * b
  if product <= 1000:
    return product
  else:
    return a + b

In [ ]:
task(50,30)

80

In [ ]:
# Print the sum of a current number and a previous number
prev_number = 0
current_number = 0
for i in range(11):
  sum = current_number + prev_number
  print(f"Previous Number is {prev_number} Current number is {current_number}: SUM is: {sum}")
  prev_number = i
  current_number = i + 1

Previous Number is 0 Current number is 0: SUM is: 0
Previous Number is 0 Current number is 1: SUM is: 1
Previous Number is 1 Current number is 2: SUM is: 3
Previous Number is 2 Current number is 3: SUM is: 5
Previous Number is 3 Current number is 4: SUM is: 7
Previous Number is 4 Current number is 5: SUM is: 9
Previous Number is 5 Current number is 6: SUM is: 11
Previous Number is 6 Current number is 7: SUM is: 13
Previous Number is 7 Current number is 8: SUM is: 15
Previous Number is 8 Current number is 9: SUM is: 17
Previous Number is 9 Current number is 10: SUM is: 19

In [ ]:
print(f"Previous Number is 0 Current number is 0: SUM is: 0")
for i in range(10):
  print(f"Previous Number is {i} Current number is {i+1}: SUM is: {2*i+1}")

Previous Number is 0 Current number is 0: SUM is: 0
Previous Number is 0 Current number is 1: SUM is: 1
Previous Number is 1 Current number is 2: SUM is: 3
Previous Number is 2 Current number is 3: SUM is: 5
Previous Number is 3 Current number is 4: SUM is: 7
Previous Number is 4 Current number is 5: SUM is: 9
Previous Number is 5 Current number is 6: SUM is: 11
Previous Number is 6 Current number is 7: SUM is: 13
Previous Number is 7 Current number is 8: SUM is: 15
Previous Number is 8 Current number is 9: SUM is: 17
Previous Number is 9 Current number is 10: SUM is: 19

In [ ]:
# SUM based in criteria
prev_value = 0
for current_value in range(11):
  sum = current_value + prev_value
  print(f"Previous Number is {prev_value} Current number is {current_value}: SUM is: {sum}")
  prev_value = current_value

Previous Number is 0 Current number is 0: SUM is: 0
Previous Number is 0 Current number is 1: SUM is: 1
Previous Number is 1 Current number is 2: SUM is: 3
Previous Number is 2 Current number is 3: SUM is: 5
Previous Number is 3 Current number is 4: SUM is: 7
Previous Number is 4 Current number is 5: SUM is: 9
Previous Number is 5 Current number is 6: SUM is: 11
Previous Number is 6 Current number is 7: SUM is: 13
Previous Number is 7 Current number is 8: SUM is: 15
Previous Number is 8 Current number is 9: SUM is: 17
Previous Number is 9 Current number is 10: SUM is: 19

In [ ]:
# Print charecters present at an even index number
user_input = input("Enter string that your wated to work: ")
for i in range(1,len(user_input)):
  if i % 2 == 0:
    print(user_input[i])
  else: pass

Enter string that your wated to work: yethish
t
i
h

In [ ]:
# Remove first n charecters from a string
test = input("Enter Your string: ")
new_string = ""
position = 0
remove_length = int(input("Enter how many charecters that you want to remove: "))
for i in range(len(test)):
  if(i < remove_length):
    position = position + 1
  else:
    pass
new_string = test[position:]
print(new_string)

Enter Your string: yethish
Enter how many charecters that you want to remove: 4
ish

In [ ]:
test = input("Enter Your string: ")
position = int(input('Enter how many charecters that you wanted to remove: '))
new_string = test[position: ]
print(new_string)

Enter Your string: yethish
Enter how many charecters that you wanted to remove: 5
sh

In [ ]:
# Check if the first and last numbers of a list are the same
mylist = [2,2,3,4,5,6,1]
if mylist[0] == mylist[-1]:
  print(True)
else:
  print(False)

False

In [ ]:
def check_condition(mylist):
  return mylist[0] == mylist[-1]
check_condition([1,2,3,4,1])

True

In [ ]:
# Display numbers divisible by 5
def divisible_by_five(mylist):
  for i in mylist:
    if i % 5 == 0:
       print(i)
divisible_by_five([4,5,10,3,4,5,6,12,13,14,15,100])

5
10
5
15
100

In [ ]:
def divisible_by_five(mylist):
  return([i for i in mylist if i % 5 == 0])
divisible_by_five([4,5,10,3,4,5,6,12,13,14,15,100])

[5, 10, 5, 15, 100]

In [ ]:
# Find the number of occurences of a substring in a string
mystring = "Apple is not a apple unless it is apple as a fruit"
mystring.lower().count("apple")

3

In [ ]:
mystring = "Apple is not a apple unless it is apple as a fruit"
mystring.count("apple")

2

In [ ]:
# Check Palindrome Number
def palindrome(num):
   return num == num[::-1]
palindrome(input("Enter a number: "))

Enter a number: 9889

True

In [ ]:
def palindrome2(num):
  original_num = num
  rev = 0
  while(num > 0):
    digit = num % 10
    num = num // 10
    rev = rev * 10 + digit
  return original_num == rev
palindrome2(int(input("Enter number: ")))

Enter number: 7

True

In [ ]:
#Merge 2 list using the condition
def merge_list(list1,list2):
  result_list = []
  for i in list1:
    if i % 2 != 0:
      result_list.append(i)
  for j in list2:
    if j % 2 == 0:
      result_list.append(j)
  return result_list
merge_list([1,2,3,4,5,137,140],[1,2,3,4,5,100,133])

[1, 3, 5, 137, 2, 4, 100]

In [ ]:
#get each digit from a number in the reverse order
def reverse_print(num):
  result = ""
  while(num > 0):
    last_digit = num % 10
    num = num//10
    result = result + str(last_digit)
  return " ".join(result)
reverse_print(6353298)

'8 9 2 3 5 3 6'

In [ ]:
def reverse_print1(num):
  digits = []
  while (num > 0):
    digits.append(str(num % 10))
    num = num // 10
  return " ".join(digits)

In [ ]:
reverse_print1(12332)

'2 3 3 2 1'

In [ ]:
# Multiplication Table:
def multiplication_table(num):
  for i in range(1,11):
    print(f"{num} * {i} = {num * i}")

In [ ]:
multiplication_table(8)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
# Get an int value of base raises to the power of exponent
def exponent(base,exp):
  return int(base ** exp)
exponent(2,3)

8

In [ ]:
# Fibonacci series
def fibonacci(n):
    series = []
    first = 0
    second = 1
    for i in range(n):
        series.append(first)
        first, second = second, first + second #tuple unpacking
    return series

In [ ]:
def fibonacci1(n):
    series = []
    first = 0
    second = 1
    for i in range(n):
        series.append(first)
        temp = first
        first = second
        second = temp + second
    return series

In [ ]:
print(fibonacci(12))
print(fibonacci1(12))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
# Check if a given year is a leap year
def leap_year(year):
    if(year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)):
      return "Leap Year"
    else:
      return "Non Leap year"
leap_year(2100)

'Non Leap year'

In [ ]:
import math as math

In [ ]:
# Checks whether a given number is prime or not
import math
def check_prime(num):
  isprime = True
  if num < 2:
    return False
  for i in range(2, math.floor(math.sqrt(num)) +1):
    if num % i == 0:
      isprime = False
      break
  return isprime
primes = [i for i in range(1,100) if check_prime(i)]
print(primes[0:len(primes):2])

[2, 5, 11, 17, 23, 31, 41, 47, 59, 67, 73, 83, 97]

In [ ]:
#LOOPing Exercises

In [ ]:
# Print first 10 natural numbers usign while loop
i = 1
while( i <= 10):
  print(i)
  i = i +1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print this pattern
""" *
    * *
    * * *
    * * * *
    * * * * *  """
for i in range(1,6):
  print(i * "* ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Print this pattern
"""
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
"""

n = int(input("Enter a number: "))
for i in range(1, n+1):
  print("")
  for j in range(1,i+1):
    print(f"{j}", end="")

Enter a number: 6

1
12
123
1234
12345
123456

In [ ]:
# Calculate the sum of all number 1 to a given number
num = int(input("Please enter a number that you want sum: "))
result = 0
for i in range(1,num+1):
  result = result + i
print(f"The sum of numbers from 1 - {num} is: {result}")

Please enter a number that you want sum: 4
The sum of numbers from 1 - 4 is: 10

In [ ]:
# print multiplication table for a given number
num = int(input("Enter a number that you want multiplication table: "))
for i in range(1, num+1):
  print(f"{num} * {i} = {i*num}")

Enter a number that you want multiplication table: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [ ]:
# Print numbers from a list using loop
# number must be divisible by 5 if not skip it
# number must be less than 150, if not skip it
# number is greater than 500- stop the loop
numlist = [12, 75, 150, 180, 145,20, 5, 150, 525, 50]
for i in numlist:
  if i % 5 == 0 and i <= 150:
    print(i)
  elif(i >= 500):
    break
  else:
    pass

75
150
145
20
5
150

In [ ]:
# Count the total number of digits in a number using while loop
input_number = int(input("Enter a number to check count: "))
numbers_count = 0
while(input_number>0):
  numbers_count = numbers_count +  1
  input_number = input_number // 10
print(numbers_count)

Enter a number to check count: 4
1

In [ ]:
# print the following pattern
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''

'\n5 4 3 2 1\n4 3 2 1\n3 2 1\n2 1\n1\n'

In [ ]:
# Print list in a reverse order using a loop
mylist = [10, 20, 30, 40, 50]
for i in mylist[::-1]:
  print(i)

50
40
30
20
10

In [ ]:
# Display numbers from -10 to -1 using for loop

for i in range(-10, 0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# Display a message Done! after the successful execution of the for loop
num = int(input("Enter the value: "))
for i in range(num):
  print(i)
print("DONE!!!")

Enter the value: 5
0
1
2
3
4
DONE!!!

In [ ]:
# Print all prime numbers within a range
import math
num = int(input("Enter a range that you want prime numbers: "))
result  = []
for i in range(2, num+1):
  is_prime = True
  for j in range(2, int(math.sqrt(i) + 1)):
    if i % j == 0:
      is_prime = False
      break
  if is_prime:
    result.append(i)
print(result[::2])

In [ ]:
# Display Fibanocci series upto 10 terms
# first = 0
# second = 1
# for i in range(1, 11):
#   print(first)
#   next_term = first + second
#   first = second
#   second = next_term

a = 0
b = 1
for i in range(10):
  print(a)
  a, b = b , a + b

In [ ]:
# Find the factorial of a given number
num = int(input("Enter a number: "))
factorial = 1
for i in range(1,num+1):
  factorial = factorial * i
print(factorial)

In [ ]:
# reverse a integer number
num = int(input("Enter number to reverse: "))
reverse_number = 0
while(num > 0):
  last_digit = num % 10
  reverse_number = reverse_number * 10 + last_digit
  num = num // 10
print(reverse_number)

In [ ]:
# Print elements from a given list present at odd index positions
mylist = [1,2,3,4,5,6,7,8,9]
for i in mylist[::2]:
  print(i,end=" ")

In [ ]:
# Calculate the cube of all numbers from 1 to a given number
num = int(input("Enter a range from 0 to:  "))
for i in range(1,num+1):
  print(f"Current number is {i} and the cube is {i**3}")

In [ ]:
# Find the sum of a series of a number up to n terms
num = int(input('enter the number: '))
terms = int(input("Enter how many terms you want sum: "))
sum = 0
for i in range(1, terms+1):
  digit = str(num) * i
  sum = sum + int(digit)
print(sum)

In [ ]:
num = 4
for i in range(1, num+1):
  print( i * "* ")

for i in range(num+1,0,-1):
  print( i * "* ")

In [ ]:
# Print Full multiplication table
for i in range(1, 11):
  print("")
  print(f"Multiplicaion table of:  {i} ")
  for j in range(1, 11):
    print( i * j, end=" ")

In [ ]:
# print the alternative numbers patterns
num = int(input("enter a number"))
repeat  = 1
for i in range(1, num+1):
  for j in range(1, i+1):
    print( str(repeat),end="    ")
    repeat = repeat + 1
  print("\r")

In [ ]:
num = int(input('Enter a number to check maximum and minimum: '))

# Initialize largest and smallest
largest = 0
smallest = 9

temp = num  # keep a copy, since we'll modify num

while temp > 0:
    digit = temp % 10
    if digit > largest:
        largest = digit
    if digit < smallest:
        smallest = digit
    temp = temp // 10

print(f"Largest digit is: {largest}")
print(f"Smallest digit is: {smallest}")

In [183]:
# Check armstrong Number
# 153 = 1 cube + 5 cube + 3 cube = 153
check_num  = int(input('Enter a Number to check Armstrong: '))
actual_num = check_num
exponent = len(str(check_num))
sum = 0
while check_num > 0:
  cube = (check_num % 10) ** exponent
  sum = sum + cube
  check_num = check_num // 10
if actual_num == sum:
  print(f"Yes the number {actual_num} is a Armstrong Number since {actual_num}=={sum}")
else:
  print(f"No the number {actual_num} is Not a Armstrong Number since {actual_num}!={sum}")

Enter a Number to check Armstrong: 89732
No the number 89732 is Not a Armstrong Number since 89732!=108899

In [ ]:
# FUNCTIONS

In [ ]:
# Create a function in python
def myfunc():
  print("hello world")
myfunc()

hello world

In [ ]:
# Create a function with variable length of arguments and sum them
def args(*nums):
  sum = 0
  for i in nums:
    sum = sum + i
  return sum
args(1,2,3,4,5,10)

25

In [ ]:
# return multiple values from a function
def calculation(a,b):
  sum = a + b
  sub = a - b
  return sum, sub
calculation(40,10)

(50, 30)

In [ ]:
# Create a function with a default argument
def show_employee(name,salary=9000):
  return f"Name: {name} salary: {salary}"
show_employee("yethish")

'Name: yethish salary: 9000'

In [ ]:
# create a nested function
def outer(a,b):
  def inner():
    return a + b
  result = inner()
  result = result + 5
  return result

outer(10,20)

35

In [ ]:
# using recursion sum of Numbers
def sum_of_numbers(n):
    if n == 0:
        return 0
    else:
        return n + sum_of_numbers(n - 1)

print(sum_of_numbers(10))

In [136]:
# Assign a different name to function and call it through the new name
# So that we can get the same results when we call that function show_student also
def display_student(name, age):
    print(name, age)
show_student = display_student

show_student("Emma", 26)

Emma 26

In [148]:
# Generate a Python list of all the even numbers between 4 to 30
# mylist = [i for i in range(4,30) if i % 2 ==0]
# mylist

print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [151]:
# Call Function using both positional and keyword arguments
def myfunction(**kwargs):
    print(kwargs)
myfunction(name="Yethishwar",grade="A+")

{'name': 'Yethishwar', 'grade': 'A+'}

In [169]:
# Modifies global variable
global_variable = 20
def modifyg():
    global gloabal_variable
    global_variable = 30
    print(global_variable)
modifyg()
print(global_variable)

30
20

In [180]:
# Use a lambda with the filter() function to get all even numbers from a list

mylist = [1,2,3,4,5,6,7,8,9]
new_list = list(filter(lambda num: num % 2 == 0, mylist))

new_list

[2, 4, 6, 8]

In [182]:
# Use a lambda with the map() function to double each element in a list
list1 = [1,2,3,4,5,6,7,8,9,10]
mylist = list(map(lambda num:num **2,list1))
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]