In [172]:
# List comprehension
# Create a list of squares of numbers from 1 to 10
result = [x**2 for x in range(1,11)]
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [173]:
# From a list of numbers, create a new list that only contains the even numbers.
list_of_nums = [1,2,3,4,5,6,7,8,9,10,13,12]
result = [x for x in list_of_nums if x % 2 == 0]
result

[2, 4, 6, 8, 10, 12]

In [174]:
# Given a list of words, create a new list containing the length of each word
list_of_words = ['apple','banana','yethishwar','meghana','chintu','siddhartha','preethi']
result = [len(x) for x in list_of_words]
result

[5, 6, 10, 7, 6, 10, 7]

In [175]:
# Given a string, create a list of all the vowels present in it.
mystring = "Yethishwar rao madhavaram"
result = [x for x in mystring if x in ['a','e','i','o','u']]
result

['e', 'i', 'a', 'a', 'o', 'a', 'a', 'a', 'a']

In [176]:
# Create a list of all numbers between 1 and 50 that are divisible by both 3 and 5
result = [x for x in range(1, 51) if x % 3 == 0 or x % 5 == 0]
result

[3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50]

In [177]:
# From a list of words, make a new list containing only the words that start with a vowel.
mywords = ['apple','banana','iris','people','utility','keerthi','university','elephant','Amazon']
result = [x for x in mywords if x[0].lower() in ['a','e','i','o','u']]
result

['apple', 'iris', 'utility', 'university', 'elephant', 'Amazon']

In [178]:
# Given a list of numbers, create a list of strings where each number is labeled as "even" or "odd".
mynumbers = [1,2,3,3,4,4,5,6,7]
result = ["EVEN" if x % 2 == 0 else "ODD" for x in mynumbers]
result

['ODD', 'EVEN', 'ODD', 'ODD', 'EVEN', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [179]:
# Flatten a 2D list (list of lists) into a single list.
list_of_lists = [1,2,[3,4],[5,6],[7]]
result = []
for x in list_of_lists:
  if type(x) is list:
    result.extend((x))
  else:
    result.append(x)
result

[1, 2, 3, 4, 5, 6, 7]

In [180]:
# Create a list of squares of all odd numbers between 1 and 20.
result = [x**2 for x in range(1,21) if x % 2 == 1]
result

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [181]:
# From a sentence, create a list of all words that are longer than 4 letters.
sentense = "My name is madhavavram yethishwar rao i am studying b.tech"
result = [x for x in sentense.split() if len(x) >= 4]
result

['name', 'madhavavram', 'yethishwar', 'studying', 'b.tech']

In [182]:
nums = [1,2,3,4,5,5,6]
new_nums = tuple(map(lambda x:x**3,nums))
new_nums

(1, 8, 27, 64, 125, 125, 216)

In [183]:
# map with regular functions
numbers = [1,2,3,4,5]
def square(num):
  return num**2
x = list(map(square,numbers))
print(x)

[1, 4, 9, 16, 25]

In [184]:
# Filter with lambda

nums = [121,210,20,1287,43,433,78,90]
y = list(filter(lambda x:x%2==0,nums))
print(y)

[210, 20, 78, 90]

In [185]:
# Reduce with lambdas
from functools import reduce
nums = [1,2,3,4,5]
z = reduce(lambda a,b:a+b,nums)
print(z)

15

In [186]:
#LAMBDA - Anonymous Function

In [187]:
#Instead of this
def sum(a,b):
  return a + b
sum(12,30)

42

In [188]:
# We write like this using lambda
sum = lambda a,b:a+b
sum(12,10)

22

In [189]:
# Create a lambda function to find the square of a number.
square = lambda a: a**2
square(9)

81

In [190]:
# Write a lambda to check whether a number is even or odd.
check_even = lambda num: num % 2 == 0
check_even(13)

False

In [191]:
# Write a lambda that returns the maximum of two numbers.
maximum = lambda a,b: max(a,b)
maximum(12,-30)

12

In [192]:
# Create a lambda that converts a given string to uppercase
upper_case = lambda string: string.upper()
upper_case("madhavaram")

mylist = list(map(upper_case,["yethishwar","preethi","keerthi"]))

In [193]:
mylist

['YETHISHWAR', 'PREETHI', 'KEERTHI']

In [194]:
# Given a list of words, count the number of vowels in each word.
words = ['Yethishwar','madhavaram','chiru','keerthi','sukesh']
vowel_count_list = []
def count_of_vowels(words):
  for item in words:
    vowel_count = 0
    for j in item:
      if j in ['a','e','i','o','u']:
        vowel_count = vowel_count + 1
    vowel_count_list.append(vowel_count)
  print(vowel_count_list)
count_of_vowels(words)

[3, 4, 2, 3, 2]

In [195]:
# Given a list of numbers, use map() and a lambda to get a new list of their cubes.
cubes = set(map(lambda x: x**3,[1,2,3,4,5]))
cubes

{1, 8, 27, 64, 125}

In [196]:
# Use map() and a lambda to convert a list of names to title case (first letter capital).
words = ["yethishwar",'chintu','keerthi','pm','car','van','ran']
title_case = list(map(lambda x:x.title(),words))
title_case

['Yethishwar', 'Chintu', 'Keerthi', 'Pm', 'Car', 'Van', 'Ran']

In [197]:
# Use map() with a lambda to get a list of each numberâ€™s square root, rounded to 2 decimals.
import math
square_roots = list(map(lambda num: round(math.sqrt(num),2),[4,9,16,144,1233,3890]))
square_roots

[2.0, 3.0, 4.0, 12.0, 35.11, 62.37]

In [198]:
# Use filter() and a lambda to extract only the even numbers from a list.
even_numbers = list(filter(lambda num: num%2 == 0,[2,4,6,8,10,1,3,7,9,12]))
even_numbers

[2, 4, 6, 8, 10, 12]

In [199]:
# Use filter() and lambda to create a new list that contains only the numbers that are divisible by 3.
divisibleby3 = list(filter(lambda num: num % 3 == 0,[4, 9, 12, 15, 7, 20]))
divisibleby3

[9, 12, 15]

In [200]:
#REDUCE
from functools import reduce

In [201]:
num = int(input("Enter a value that you want sum: "))
red = reduce(lambda x,y: x + y, [x for x in range(1,num+1)])
red

Enter a value that you want sum: 10

55

In [202]:
# Factorial of series of numbers using reduce function
num = int(input("Enter a value that you want sum: "))
red = reduce(lambda x,y: x * y, [x for x in range(1,num+1)])
red

Enter a value that you want sum: 10

3628800

In [203]:
# SORTED()

In [204]:
# Sorting words by length
words = ['apple','car','A','yethishwar','Hippopotamus']
sorted_words = sorted(words,key=lambda x: len(x))

In [205]:
sorted_words

['A', 'car', 'apple', 'yethishwar', 'Hippopotamus']