In [ ]:
#Control Flow Stataments
#Conditional Statements
#Loop Statements
#Transfer Statements

#Conditional statements or decision statements or branching statements
#statements are executed when the condition is true

In [ ]:
# if statement -- it contains a block os statements allowing you to execute only when the condition is true
#if condition:
# statements
# statements

#Checking a number is a positive or negative
number = -10
if number > 0:
  print("|Positive Number|")
else:
  print("|Negative Number|")

In [ ]:
num1 = 10
num2 = 120
num3 = 100
if num1 > num2 and num1 > num3 :
  print(f"{num1} is the largest number")
elif num2 > num3:
  print(f"{num2} is the largest number")
else:
  print(f"{num3} is the largest number")

In [ ]:
# > 80 - A
# 70 and 80 - B
# 60 and 69 - C
# 50 and 59 - D
# 35 and 49 - E
# Fail
marks = int(input("Enter Your Grade: "))
if marks <35 :
  print(f"You got {marks} so you are FAIL!!!")
elif(marks < 50):
  print(f"You got {marks} your grade is E")
elif(marks < 60):
  print(f"You got {marks} your grade is D")
elif(marks < 70):
  print(f"You got {marks} your grade is C")
elif(marks < 80):
  print(f"You got {marks} your grade is B")
else:
  print(f"You got {marks} you are AWESOME!!! A grade")

In [ ]:
# list1 = [2,3,4,['a','b','c']]
# if type(list1[-1]) == list:
#   newlist = list1
# .pop()

In [ ]:
#Conditional Expression or Ternary operator
#True_value if condition else False_value
num = 10
"Even Number" if num % 2==0 else "Odd Number"

In [ ]:
word = input("Enter a string: ")
"Palindrome Word" if word == word[::-1] else "Non Palindrome word"

In [ ]:
A = 10
B = 100
C = 10
"A is Largest" if A > B and A > C else("B is Largest" if B > C else "C is largest")

In [ ]:
mylist = [1,2,3,4,5,[4,5],[6,8],9,10]

In [ ]:
mylist

In [ ]:
for i in mylist:
  if type(i) == list:
    mylist.remove(i)

In [ ]:
mylist

In [ ]:
# Removing the duplicates from the list
nw1 = [1,2,3,4,5,6,5,4,3,2,1,1,2,3]
nodup = []
for i in nw1:
  if i not in nodup:
    nodup.append(i)
    print(i)
  else:
    print("Duplicated")

In [ ]:
name = "yethishwar"
vowel_count = 0
con_count = 0
for i in name:
  if i in ["a",'e','i','o','u']:
    vowel_count= vowel_count + 1
  else:
    con_count = con_count + 1

vowel_count
con_count

In [ ]:
collection = ["yethishwar",['preethi','Arjun'],'Keerthi','Suresh',("kiran",'jayu')]
new = []
for i in collection:
  if type(i)==list or type(i) == tuple:
    for j in i:
      new.append(j)
  else:
    new.append(i)

In [ ]:
new

In [ ]:
myname = 'Yethishwar'
cout = 0
while(cout <= len(myname)):
  print(myname[:cout])
  cout = cout + 1

In [ ]:
num = [2,1,3,-5,0,-10,-100]
for i in num:
  if i<=0:
    continue
  print(i)

In [ ]:
# Comprehension
num = [1,2,3,4,5,6,7,8,9,10]
[i**2 for i in num]

In [ ]:
lst = ['yethishwar','chintu',1,2,3,4,5]
[i for i in lst if type(i)==str]

In [ ]:
numbers = {1,2,3,4,5,6,7}
{'Even' if i%2==0 else 'Odd' for i in numbers}

In [ ]:
myname = "Yethishwar Madhavaram"

In [ ]:
#Movie Ticket Pricing
age = int(input("Please Enter Your Age: "))
if age > 60 and age < 150:
  print(f"Your Age is {age} Ticket Price is: ₹120")
elif age >= 18 and age < 60:
  print(f"Your Age is {age} Ticket Price is: ₹200")
elif age >= 12 and age < 18:
  print(f"Your Age is {age} Ticket Price is: ₹150")
elif age >= 5 and age < 12:
  print(f"Your Age is {age} Ticket Price is: ₹100")
else:
  print("Your age is not eligible!!!! Sorry!!")

In [ ]:
#Multiplication Table
myinput = int(input("Enter a number for Multiplication Table: "))
for i in range(1,11):
  print(f"{myinput} x {i} = {myinput * i}")

In [ ]:
# Factorial of a Number
number = int(input("Enter a number: "))
factorial = 1
for i in range(number,0,-1):
  factorial = factorial * i
print(factorial)

In [ ]:
#Count Vowels in a word
word = "aeiou"
vowel_count = 0
for i in word:
  if i in ("a",'e','i','o','u'):
    vowel_count = vowel_count + 1
vowel_count

In [ ]:
#printing all elements in a list
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

In [ ]:
#Reverse a string using For Loop
reverse_string = ""
mystring = "Yethishwar"
for i in range(1,len(mystring)+1):
  reverse_string = reverse_string + mystring[-i]
reverse_string

In [ ]:
#Print Only odd numbers from a list
numbers = [12, 7, 9, 24, 35, 50, 63,6,10, 12, 14, 100]
for i in numbers:
  if i % 2 == 0:
    numbers.remove(i)
numbers

In [ ]:
# Find greatest number in a list using loops
mylist = [1,2,3,4,56,78,100,-10,200]
greatest_number = 0
for i in mylist:
  if i > greatest_number:
    greatest_number = i
print(greatest_number)

i = 1
g_number = 0
while(i <= len(mylist)):
  if mylist[i] > g_number:
    g_number = mylist[i]
    i = i +1
print(g_number)

In [ ]:
# WAP to take list as an input from user
length = int(input("Please enter the length of the list: "))
mylist = []
for i in range(0,length):
  myinput = input("Enter the value: ")
  mylist.append(myinput)
mylist

In [ ]:
# WAP to reverse a given number
reverse_string = ""
mystring = input("Enter your number here: ")
for i in range(1,len(mystring)+1):
  reverse_string = reverse_string + mystring[-i]
reverse_string

In [ ]:
# WAP to reverse a given number
reverse_string = ""
mystring = input("Enter your number here: ")
for i in range(1,len(mystring)+1):
  reverse_string = reverse_string + mystring[-i]
reverse_string

Enter your number here: 123

'321'

In [ ]:
# WAP to reverse a given number
num = int(input('Enter a number to reverse: '))
reverse = 0
while num > 0:
  digit = num % 10
  reverse = reverse*10 + digit
  num = num //10
print(f"Reverse of a number is: {reverse}")

Enter a number to reverse: 123
Reverse of a number is: 321

In [ ]:
ls = ["yethi","preethi","keerthi","Suresh","naresh","ivanka","Kiran"]

In [ ]:
ls

['yethi', 'preethi', 'keerthi', 'Suresh', 'naresh', 'ivanka', 'Kiran']

In [ ]:
t = (1,2,3,4,5,3)

In [ ]:
t.count(3)

2

In [ ]:
st = set([1,2,3,4,5,5,4,3,1,3,4,2,2,3,4,1,23,3])

In [ ]:
st

{1, 2, 3, 4, 5, 23}

In [ ]:
st1 = st.copy()

In [ ]:
st2 = set([4,3,5,7,8,2,3,4,4])

In [ ]:
st2

{2, 3, 4, 5, 7, 8}

In [ ]:
st1.union(st2)

{1, 2, 3, 4, 5, 7, 8, 23}

In [ ]:
set1 = {1,2,3}
set2 = set1

In [ ]:
print(set1)
print(set2)

{1, 2, 3}
{1, 2, 3}

In [ ]:
set1.add(4)