**Dictionary Methods/ Functions**

Dictionary consists of  Key-Value Pairs enclosed in flower brackets and colon in between of each pair.

It can allow only unique values inside (key) area

-> Keys can be Immutable

-> Values can be of any python objets

In [ ]:
# Creating a Dictionary
user_d = {}
d1 = {"Name":"Yethishwar",
        "id": 97,
      "College": "Methodist college of Engineering",
      "grade":"A+",
      "Mobile": "9000900025"}
print(type(d1))

<class 'dict'>

In [ ]:
#Accessing values with the help of keys
print(d1["Name"])
print(d1["id"])
print(d1["College"])
print(d1["grade"])
print(d1["Mobile"])

Yethishwar
97
Methodist college of Engineering
A+
9000900025

In [ ]:
print(d1)

{'Name': 'Yethishwar', 'id': 97, 'College': 'Methodist college of Engineering', 'grade': 'A+', 'Mobile': '9000900025'}

In [ ]:
#keys() function returns only keys present in the dictionary
d1.keys()

dict_keys(['Name', 'id', 'College', 'grade', 'Mobile'])

In [ ]:
#values() fucntion returns only values present in the dictionary
d1.values()

dict_values(['Yethishwar', 97, 'Methodist college of Engineering', 'A+', '9000900025'])

In [ ]:
#items() function returns both key-value pairs present in the dictionary
d1.items()

dict_items([('Name', 'Yethishwar'), ('id', 97), ('College', 'Methodist college of Engineering'), ('grade', 'A+'), ('Mobile', '9000900025')])

In [ ]:
# Major use case of using .items() function which is used to retieve key, value separatly and work with them.
for key, value in d1.items():
  print(key)
  print(value)
  print("______________")

Name
Yethishwar
______________
id
97
______________
College
Methodist college of Engineering
______________
grade
A+
______________
Mobile
9000900025
______________

In [ ]:
# we can also access key in the dictionary using keyword called key calling in the loop
for key in d1:
  print(key)
  print(d1[key])

Name
Yethishwar
id
97
College
Methodist college of Engineering
grade
A+
Mobile
9000900025

In [ ]:
# Removes the item in the dictionary based on the provided key and displays the value
d1.pop("id")

97

In [ ]:
d1.items()

dict_items([('Name', 'Yethishwar'), ('College', 'Methodist college of Engineering'), ('grade', 'A+'), ('Mobile', '9000900025')])

In [ ]:
# Removes the value which is present at the end of the dictionary
d1.popitem()

('Mobile', '9000900025')

In [ ]:
# copies the values from d1 to d2
d2 = d1.copy()

In [ ]:

d1.setdefault("id")

In [ ]:
print(d1)

{'Name': 'Yethishwar', 'College': 'Methodist college of Engineering', 'grade': 'A+', 'id': None}

In [ ]:
""" If we wated to add an element into the dictionary if the element already exist means
It is going to display the existing element, otherwise sets the default value to the key provided """
d1.setdefault("sports","VollyBall")

'VollyBall'

In [ ]:
print(d1)

{'Name': 'Yethishwar', 'College': 'Methodist college of Engineering', 'grade': 'A+', 'id': None, 'sports': 'VollyBall'}

In [ ]:
""" update function is used to update the values to the existing dictionary by passing the values in terms of
keyword arguments or dictionaries or iterable pairs like list, tuples... if the updated key is already presents means
it is going to overwrite the value associated with that key"""
temp_dict = {'color':"aqua", "Blood Group":"B+"}
d1.update(temp_dict)

In [ ]:
d1

{'Name': 'Yethishwar',
 'College': 'Methodist college of Engineering',
 'grade': 'A+',
 'id': None,
 'sports': 'VollyBall',
 'color': 'aqua',
 'Blood Group': 'B+'}

In [ ]:
# We can pass keyword arguments
d1.update(a = 2, b =4)

In [ ]:
d1

{'Name': 'Yethishwar',
 'College': 'Methodist college of Engineering',
 'grade': 'A+',
 'id': None,
 'sports': 'VollyBall',
 'color': 'aqua',
 'Blood Group': 'B+',
 'a': 2,
 'b': 4}

In [ ]:
d1.update(a = 10, b =20)

In [ ]:
d1

{'Name': 'Yethishwar',
 'College': 'Methodist college of Engineering',
 'grade': 'A+',
 'id': None,
 'sports': 'VollyBall',
 'color': 'aqua',
 'Blood Group': 'B+',
 'a': 10,
 'b': 20}

In [ ]:
# passing keys which is in the iterable data type to a default value which creates a new dicitonary
mykeys = ['a','b','c','d','e']
d3 = dict.fromkeys(mykeys,1000)

In [ ]:
d3

{'a': 1000, 'b': 1000, 'c': 1000, 'd': 1000, 'e': 1000}

In [ ]:
# Removes all elements in the dictionary and remains a empty dictionary memory will not be erased
d3.clear()

In [ ]:
d3

{}