**Dictionary Methods/ Functions**

Dictionary consists of  Key-Value Pairs enclosed in flower brackets and colon in between of each pair.

It can allow only unique values inside (key) area

-> Keys can be Immutable

-> Values can be of any python objets

In [ ]:
# Creating a Dictionary
user_d = {}
d1 = {"Name":"Yethishwar",
        "id": 97,
      "College": "Methodist college of Engineering",
      "grade":"A+",
      "Mobile": "9000900025"}
print(type(d1))

<class 'dict'>

In [ ]:
#Accessing values with the help of keys
print(d1["Name"])
print(d1["id"])
print(d1["College"])
print(d1["grade"])
print(d1["Mobile"])

Yethishwar
97
Methodist college of Engineering
A+
9000900025

In [ ]:
print(d1)

{'Name': 'Yethishwar', 'id': 97, 'College': 'Methodist college of Engineering', 'grade': 'A+', 'Mobile': '9000900025'}

In [ ]:
#keys() function returns only keys present in the dictionary
d1.keys()

dict_keys(['Name', 'id', 'College', 'grade', 'Mobile'])

In [ ]:
#values() fucntion returns only values present in the dictionary
d1.values()

dict_values(['Yethishwar', 97, 'Methodist college of Engineering', 'A+', '9000900025'])

In [ ]:
#items() function returns both key-value pairs present in the dictionary
d1.items()

dict_items([('Name', 'Yethishwar'), ('id', 97), ('College', 'Methodist college of Engineering'), ('grade', 'A+'), ('Mobile', '9000900025')])

In [ ]:
# Major use case of using .items() function which is used to retieve key, value separatly and work with them.
for key, value in d1.items():
  print(key)
  print(value)
  print("______________")

Name
Yethishwar
______________
id
97
______________
College
Methodist college of Engineering
______________
grade
A+
______________
Mobile
9000900025
______________

In [ ]:
# we can also access key in the dictionary using keyword called key calling in the loop
for key in d1:
  print(key)
  print(d1[key])

Name
Yethishwar
id
97
College
Methodist college of Engineering
grade
A+
Mobile
9000900025

In [ ]:
# Removes the item in the dictionary based on the provided key and displays the value
d1.pop("id")

97

In [ ]:
d1.items()

dict_items([('Name', 'Yethishwar'), ('College', 'Methodist college of Engineering'), ('grade', 'A+'), ('Mobile', '9000900025')])

In [ ]:
# Removes the value which is present at the end of the dictionary
d1.popitem()

('Mobile', '9000900025')

In [ ]:
# copies the values from d1 to d2
d2 = d1.copy()

In [ ]:

d1.setdefault("id")

In [ ]:
print(d1)

{'Name': 'Yethishwar', 'College': 'Methodist college of Engineering', 'grade': 'A+', 'id': None}

In [ ]:
""" If we wated to add an element into the dictionary if the element already exist means
It is going to display the existing element, otherwise sets the default value to the key provided """
d1.setdefault("sports","VollyBall")

'VollyBall'

In [ ]:
print(d1)

{'Name': 'Yethishwar', 'College': 'Methodist college of Engineering', 'grade': 'A+', 'id': None, 'sports': 'VollyBall'}

In [ ]:
""" update function is used to update the values to the existing dictionary by passing the values in terms of
keyword arguments or dictionaries or iterable pairs like list, tuples... if the updated key is already presents means
it is going to overwrite the value associated with that key"""
temp_dict = {'color':"aqua", "Blood Group":"B+"}
d1.update(temp_dict)

In [ ]:
d1

{'Name': 'Yethishwar',
 'College': 'Methodist college of Engineering',
 'grade': 'A+',
 'id': None,
 'sports': 'VollyBall',
 'color': 'aqua',
 'Blood Group': 'B+'}

In [ ]:
# We can pass keyword arguments
d1.update(a = 2, b =4)

In [ ]:
d1

{'Name': 'Yethishwar',
 'College': 'Methodist college of Engineering',
 'grade': 'A+',
 'id': None,
 'sports': 'VollyBall',
 'color': 'aqua',
 'Blood Group': 'B+',
 'a': 2,
 'b': 4}

In [ ]:
d1.update(a = 10, b =20)

In [ ]:
d1

{'Name': 'Yethishwar',
 'College': 'Methodist college of Engineering',
 'grade': 'A+',
 'id': None,
 'sports': 'VollyBall',
 'color': 'aqua',
 'Blood Group': 'B+',
 'a': 10,
 'b': 20}

In [ ]:
# passing keys which is in the iterable data type to a default value which creates a new dicitonary
mykeys = ['a','b','c','d','e']
d3 = dict.fromkeys(mykeys,1000)

In [ ]:
d3

{'a': 1000, 'b': 1000, 'c': 1000, 'd': 1000, 'e': 1000}

In [ ]:
# Removes all elements in the dictionary and remains a empty dictionary memory will not be erased
d3.clear()

In [ ]:
d3

{}

In [5]:
transactions = [{'customer':'Yethish','items':[('Laptop',75000),('Mouse',1200)]},
                {'customer':'ravi','items':[('Monitor',1200)]},
                {'customer':'rahul','items':[('Laptop',15000),('Monitor',1500)]}]
transactions

[{'customer': 'Yethish', 'items': [('Laptop', 75000), ('Mouse', 1200)]},
 {'customer': 'ravi', 'items': [('Monitor', 1200)]},
 {'customer': 'rahul', 'items': [('Laptop', 15000), ('Monitor', 1500)]}]

In [83]:
# 1. What is the total amount spent by each customer?
result = {}
for t in transactions:
    total = 0
    for i in t["items"]:
        total = total + i[1]
    result.update({t["customer"] : total} )
print(result)

{'Yethish': 76200, 'ravi': 1200, 'rahul': 16500}

In [84]:
# 2. Which customer spent the most?
maxi = 0
for i in result.items():
    if i[1] > maxi:
        maxi = maxi + i[1]
for i in result.items():
    if i[1] == maxi:
        print(f"Customer {i[0]} spend {maxi} ")

Customer Yethish spend 76200

In [85]:
max_customer = max(result, key=result.get)
print("Customer who spent the most:", max_customer)
print("Amount spent:", result[max_customer])

Customer who spent the most: Yethish
Amount spent: 76200

In [86]:
# 3. What is the total revenue generated by all customers?
total_rev = 0
for i in result.values():
    print(i)
    total_rev = total_rev + i
print(f"Total Revenue Generated : {total_rev}")

76200
1200
16500
Total Revenue Generated : 93900

In [87]:
for i in transactions:
    print(i)

{'customer': 'Yethish', 'items': [('Laptop', 75000), ('Mouse', 1200)]}
{'customer': 'ravi', 'items': [('Monitor', 1200)]}
{'customer': 'rahul', 'items': [('Laptop', 15000), ('Monitor', 1500)]}

In [88]:
# 4. What is the average transactions value?
count_customers = 0
for i in transactions:
        count_customers = count_customers + 1
print(count_customers)
avg_tras_val = total_rev/count_customers
print(f"Average Transactions value is {avg_tras_val}")

3
Average Transactions value is 31300.0

In [89]:
for i in transactions:
    print(i)

{'customer': 'Yethish', 'items': [('Laptop', 75000), ('Mouse', 1200)]}
{'customer': 'ravi', 'items': [('Monitor', 1200)]}
{'customer': 'rahul', 'items': [('Laptop', 15000), ('Monitor', 1500)]}

In [90]:
# 5. Which items were purchased more frequently?
items = []
for t in transactions:
    for i in t["items"]:
        items.append(i[0])

for i in set(items):
    print(f"{i} purchased {items.count(i)}")

Laptop purchased 2
Mouse purchased 1
Monitor purchased 2

In [91]:
# 6. What is the most expensive item purchased in all transactions?
exp_item = 0
for i in transactions:
    for a,b in i["items"]:
        if b > exp_item:
            exp_item = b
        else:
            pass
print(f"Expensive item in all transactios is: {exp_item}")

Expensive item in all transactios is: 75000

In [92]:
# 7. How many unique items were purchased in total?
unique_items = []
for t in transactions:
    for a,b in t["items"]:
        unique_items.append(a)

result = set(unique_items)
print(result)

{'Laptop', 'Mouse', 'Monitor'}

In [93]:
for t in transactions:
    print(t)

{'customer': 'Yethish', 'items': [('Laptop', 75000), ('Mouse', 1200)]}
{'customer': 'ravi', 'items': [('Monitor', 1200)]}
{'customer': 'rahul', 'items': [('Laptop', 15000), ('Monitor', 1500)]}

In [94]:
# 8. Which customer bought more than one item?
for t in transactions:
    count = 0
    for a,b in t["items"]:
        count = count + 1
        if count > 1:
            print(f"{t["customer"]}  bought more than one item")

Yethish  bought more than one item
rahul  bought more than one item

In [95]:
# 9. What is the average price per item across all transactions?
total_rev = 0
transactions_count = 0
for t in transactions:
    for a,b in t["items"]:
        total_rev += b
        transactions_count += 1
print(total_rev/transactions_count)

18780.0

In [97]:
items = ['apple',1,'banana',2,'orange',3, 'kiwi',4]
fruits = []
numbers = []
for i in range(len(items)):
    if i % 2 == 0:
        fruits.append(items[i])
    else:
        numbers.append(items[i])
print(fruits)
print(numbers)
print("")
print(dict(zip(fruits, numbers)))

['apple', 'banana', 'orange', 'kiwi']
[1, 2, 3, 4]

{'apple': 1, 'banana': 2, 'orange': 3, 'kiwi': 4}

In [98]:
result = dict(zip(items[0::2], items[1::2]))
print(result)

{'apple': 1, 'banana': 2, 'orange': 3, 'kiwi': 4}

In [109]:
list1 = [1,2,3,4,5]
list2 = ["A","B","C","D","E"]
mylist = (dict(zip(list1, list2)))
print(mylist)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [118]:
print(mylist)
list1 = []
list2 = []
for a,b in mylist.items():
    list1.append(a)
    list2.append(b) 
print("This is List1: ",list1)
print("This is List2: ",list2)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}
This is List1:  [1, 2, 3, 4, 5]
This is List2:  ['A', 'B', 'C', 'D', 'E']