In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
a = 10

In [2]:
# Introspection of objects or functions 
a?

Type:        int
String form: 10
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating-point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [3]:
# %load file_name (used to load another pythons script here)

In [4]:
# %run Dictionary.ipynb (used to display the output here)

In [5]:
a = np.random.randn(100, 100)
%timeit np.dot(a, a)

43.9 μs ± 4.81 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [6]:
a = 10
b = 15
print(isinstance(a,(bool, float, int)))
# We can check a variable with multiple datatypes by using isinstance() function

True

In [7]:
# Python attributes    -> shape, dim
# Python methods/ Functions  -> sum(), max(), min()
a = "yethish"
a.startswith('y')

True

In [8]:
result = getattr(a,'split')

In [9]:
nums = [1,2,3,4,5]
it = iter(nums)
print(next(it))
print(next(it))
#Behind the scenes for loop uses iter internally

1
2

In [10]:
def is_iterable(inp):
    try:
        iter(inp)
        return True
    except TypeError:
        return False

In [11]:
is_iterable([1,2,3,4])

True

In [12]:
is_iterable(2)

False

In [13]:
a = [1,2,3]
b = [1,2,3]
c = a

In [14]:
print(a is b)

False

In [15]:
a == b

True

In [16]:
print(a is c)

True

In [19]:
string1 = "This is in 1 line"
string2 = """ This is line 1 
This is line 2
This is line 3"""

In [20]:
string1

'This is in 1 line'

In [23]:
string2.count('\n') # prints the count of next line symbols

2

In [26]:
string1[0] = 'a' # Because it is immutable

TypeError: 'str' object does not support item assignment

In [28]:
string3 = string1.replace('This is',"Yethishwar")

In [29]:
string3

'Yethishwar in 1 line'

In [30]:
number = 12
mystring = str(number)

In [31]:
mystring

'12'

In [37]:
print('12\14')  # Backslash is a escape character

12

In [44]:
# String Templating or String formatting
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(88.4612, 'Argentine Pesos', 1)

'88.46 Argentine Pesos are worth US$1'

In [48]:
a = 10
b = 20
print(f"{a}  + {b} == {a+b}")

10  + 20 == 30

In [61]:
mystring = b'this is bytes'

In [62]:
print(mystring.decode('UTF-8'))

this is bytes

In [66]:
type("Hi".encode('UTF-8'))

bytes

In [68]:
print(type(None))

<class 'NoneType'>

In [69]:
#DataTime Module

In [73]:
from datetime import datetime, date, time
dt = datetime(2026,1,8,10,5,50)

In [87]:
print(dt.day)
print(dt.month)
print(dt.year)
print(dt.minute)

8
1
2026
5

In [88]:
print(dt.date())
print(dt.time())

2026-01-08
10:05:50

In [96]:
dt.strftime('%y/%m/%d  %H/%M')

'26/01/08  10/05'

In [103]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
# A ternary operator is a small code representation of if-else condition

In [110]:
a = 8
ternary = "yes greater" if (a > 10) else "Not greater"

In [132]:
ternary

'Not greater'

In [133]:
list('Yethishwar')

['Y', 'e', 't', 'h', 'i', 's', 'h', 'w', 'a', 'r']

In [142]:
mytuple = ([1,2,3],'Y','A',19.89)

In [143]:
mytuple[0].append('MYR')

In [144]:
mytuple.count('Yethish')

0

In [145]:
mytuple.index([1,2,3,'MYR'])

0

In [146]:
another_tuple = mytuple + mytuple

In [147]:
another_tuple

([1, 2, 3, 'MYR'], 'Y', 'A', 19.89, [1, 2, 3, 'MYR'], 'Y', 'A', 19.89)

In [148]:
tuple1 = mytuple * 2
tuple1

([1, 2, 3, 'MYR'], 'Y', 'A', 19.89, [1, 2, 3, 'MYR'], 'Y', 'A', 19.89)

In [149]:
# Unpacking tuples 
a, b, c = (12,13,14)

In [151]:
print(a)
print(b)
print(c)

12
13
14

In [153]:
# By using this functionality in python we can directly swap like this instead of usng temp variable 
a = 10
b = 20
a, b = b, a
print(a)
print(b)

20
10

In [155]:
values = 1,2,3,4,5,6,7,8,9,10
a,b , *rest_values = values
print(a)
print(b)
print(rest_values)

1
2
[3, 4, 5, 6, 7, 8, 9, 10]

In [157]:
# list.append() ->  adds the element at the last
# list.extend() -> appends multiple elements
# list.insert(1) -> inserts elements at specified positions
# list.pop(1) -> removes the element and displays it 
# list.remove('element') -> removes specified element
# list.sort() -> sorting the elements

In [160]:
mylist = ['yethish','chintu','cat','dog','meow']
for  i in enumerate(mylist):
    print(i[0])

0
1
2
3
4

In [167]:
# one type of usecase for enumerate() 
mylist = ['hi','hello','how','are','you']
mydict  = {}
for i, v in enumerate(mylist):
    mydict[i] = v
for i in mydict.items():
    print(i)

(0, 'hi')
(1, 'hello')
(2, 'how')
(3, 'are')
(4, 'you')

In [169]:
# sort is used only on lists
# sorted is used for any iterable

my_tuple = (12,-2,0,89,100)
my_list = list(my_tuple)
print(sorted(my_tuple))
print(sorted(my_list))

[-2, 0, 12, 89, 100]
[-2, 0, 12, 89, 100]

In [173]:
# Zip is used to combine the elements of two iterables
seq1 = ['Hi','Hello','How','are','you']
seq2 = [12,12,21,21,21]
list(zip(seq1,seq2))

[('Hi', 12), ('Hello', 12), ('How', 21), ('are', 21), ('you', 21)]