In [2]:
import pandas as pd

In [9]:
#Pandas is used for analyzing, cleaning and manipulating data
# It refers to both Panel data and python data analysis

In [12]:
# A Pandas series is like a column in a table
# it is one dimentional array holding data of any type
a = ["Yethishwar","madhavaram","Chintu"]
series_data = pd.Series(a)
print(series_data)

0    Yethishwar
1    madhavaram
2        Chintu
dtype: object

In [14]:
# If no labels are specified means the index numbers will be showed in the output by default
series_data[0]

'Yethishwar'

In [15]:
# By using index=[] argument we can name our own lalbels
series_data = pd.Series(["yethishwar", 22, "Hyderabad"], index=["name","age","place"])

In [16]:
series_data

name     yethishwar
age              22
place     Hyderabad
dtype: object

In [19]:
# We can also access the data using our custom labels
print(series_data["name"])
print(series_data["age"])

yethishwar
22

We can also use key value object like a dictionary to when creating Series

The keys of the dictionary will become the labels

In [22]:

calories = pd.Series({'day1':2000, 'day2': 1000, 'day3': 5000})
print(calories)

day1    2000
day2    1000
day3    5000
dtype: int64

In [27]:
# We can also access specific indiexes to series
claories = {'day1':2000, 'day2': 1000, 'day3': 5000}
data = pd.Series(calories, index=['day2','day3'])
print(data)

day2    1000
day3    5000
dtype: int64

DATA FRAME

Datasets in pandas usually in multidimentional tables we call them as data frames
It is like a 2 dimentional dataset consists of rows and columns

Series is like a column a dataframe is the whole table

In [35]:
data = {
    "calories": [1000,2000,5000,540,600,200],
    "duration": [20,30,50,112,10,90]
}
dataframe = pd.DataFrame(data)
print(dataframe)

   calories  duration
0      1000        20
1      2000        30
2      5000        50
3       540       112
4       600        10
5       200        90

In [56]:
# When using [] means it denotes a pandas dataframe
print(dataframe.loc[[0,4,5]])

   calories  duration
0      1000        20
4       600        10
5       200        90

In [65]:
# Names Indixes
my_data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(my_data, index=['day1','day2','day3'])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [68]:
# locate named index
df.loc[['day2','day1']]

      calories  duration
day2       380        40
day1       420        50

In [69]:
# Load files into a dataframe
data = pd.read_csv('dirtydata.csv')

In [70]:
data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [76]:
# A simple way to store big data to use is CSV file
# to_string is used to print the entire data present in the file
print(data.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [82]:
# It will give you the number where the maximum rows can be displayed
print(pd.options.display.max_rows)
pd.options.display.max_rows = 100
print(pd.options.display.max_rows) # We can also change it

100
100

In [83]:
json_data = pd.read_json('data.json')

In [89]:
print(json_data)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [90]:
# JSON = python dictionary

In [91]:
# Analyzing data frames
# .head() and .tail()

In [93]:
print(json_data.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [97]:
print(json_data.tail(10))

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [99]:
# Prints the metadata
print(json_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB
None

In [100]:
# Cleaning Data
# Bad data could be:
#       Empty cells
#       Data in wrong format
#       Wrong data
#       Duplicates

In [101]:
# 1. CLeaning Empty cells

In [102]:
# One way deal with empty cells is to remove rows that contain empty cells
df = pd.read_csv('dirtydata.csv')

In [104]:
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [106]:
new_df = df.dropna()

In [111]:
# By default the dropna() will not change the orignal dataset instead it will create another one
# so using inplace = True will change the original dataset
df.dropna(inplace = True)

In [114]:
# Another way to deal with empty values is to replace with a new appropiate value
df = pd.read_csv('dirtydata.csv') #Again raw data is imported
# fillna() is used to replace empty cells with these values

In [117]:
new_df = df.fillna(1000)  #inplace = true to change the original dataset

In [127]:
# used to count the null values in the dataframe
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [142]:
#Replace only for specified columns
df.fillna({'Calories':130})
df.fillna({'Date':'2020/12/22'})

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45    2020/12/22    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [155]:
# Replacing with the mean() median() and mode()
avg = df['Calories'].mean()
print(avg)
df.fillna({'Calories':avg}, inplace= True)

304.67999999999995

In [159]:
# mean() is used when the data is normally distributed
# median() is used when the data is skewed or have outliers

In [161]:
# Cleaning data of wrong format
# it is difficult to analyze the data which is in wrong format
# TO fix this we have 2 options
#         Remove the rows
#         Convert all cells in the columns in the same format


# pandas has a to_datetime() for this
df['Date'] = pd.to_datetime(df['Date'],format='mixed')

In [162]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
22        45        NaT    100       119    282.00
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00